<section>
  <ga-nav-bar></ga-nav-bar>
</section>

<section class="ga-blog-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
        <h3 class="ga-blog-details-ourblogs-title">Our Blogs</h3>
        <ul class="ga-blog-details-our-blogs">
          <li>
            <a [routerLink]="['/blog-details',1]">Buran Ghati Trek</a>
          </li>
          <li>
            <a [routerLink]="['/blog-details',2]">Roopkund Trek</a>
          </li>
          <li>
            <a [routerLink]="['/blog-details',3]">Kedarkantha Trek</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
        <h4 class="ga-blog-details-title">Buran Ghati Trek</h4>
        <p class="ga-blog-details-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius
          mollitia suscipit, quisquam doloremque distinctio perferendis et doloribus unde architecto optio laboriosam
          porro adipisci sapiente officiis nemo accusamus ad praesentium? Esse minima nisi et. Dolore perferendis, enim
          praesentium omnis, iste doloremque quia officia optio deserunt molestiae voluptates soluta architecto tempora.
        </p>

        <p class="ga-blog-details-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius
          mollitia suscipit, quisquam doloremque distinctio perferendis et doloribus unde architecto optio laboriosam
          porro adipisci sapiente officiis nemo accusamus ad praesentium? Esse minima nisi et. Dolore perferendis, enim
          praesentium omnis, iste doloremque quia officia optio deserunt molestiae voluptates soluta architecto tempora.
        </p>

        <p class="ga-blog-details-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius
          mollitia suscipit, quisquam doloremque distinctio perferendis et doloribus unde architecto optio laboriosam
          porro adipisci sapiente officiis nemo accusamus ad praesentium? Esse minima nisi et. Dolore perferendis, enim
          praesentium omnis, iste doloremque quia officia optio deserunt molestiae voluptates soluta architecto tempora.
        </p>

        <img src="../../../../assets/banner-leh.jpg" class="img-fluid ga-blog-details-img">

        <p class="ga-blog-details-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius
          mollitia suscipit, quisquam doloremque distinctio perferendis et doloribus unde architecto optio laboriosam
          porro adipisci sapiente officiis nemo accusamus ad praesentium? Esse minima nisi et. Dolore perferendis, enim
          praesentium omnis, iste doloremque quia officia optio deserunt molestiae voluptates soluta architecto tempora.
        </p>

        <img src="../../../../assets/banner-meghalaya.jpg" class="img-fluid ga-blog-details-img">

        <img src="../../../../assets/banner-meghalaya.jpg" class="img-fluid ga-blog-details-img">
      </div>
    </div>
  </div>
</section>

<section>
  <ga-footer></ga-footer>
</section>


<style>
  .ga-blog-section {
    padding: 4em 0;
    position: relative;
  }

  .ga-blog-details-title {
    font-family: 'Raleway', sans-serif;
    color: #4b4b4b;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.5;
  }

  .ga-blog-details-content {
    font-family: 'Lato', sans-serif;
    text-align: justify;
    font-size: 14px;
  }

  .ga-blog-details-img {
    border: 5px solid #cccccc61;
    margin: 10px 0;
  }

  .ga-blog-details-ourblogs-title {
    margin-left: 35px;
    font-family: 'Raleway', sans-serif;
  }

  .ga-blog-details-our-blogs li {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
    list-style: none;
  }

  .ga-blog-details-our-blogs a {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    line-height: 2;
    text-decoration: none;
  }

  .ga-blog-details-our-blogs a:hover {
    color: rgb(255, 0, 0);
  }
</style>