<section>
  <ga-nav-bar></ga-nav-bar>
</section>

<section>
  <ga-carousel></ga-carousel>
</section>

<section>
  <ga-upcoming-events-card></ga-upcoming-events-card>
</section>

<!-- <section>
  <ga-popular-destinations></ga-popular-destinations>
</section> -->
<!-- 
<section>
  <ga-group-trips></ga-group-trips>
</section> -->

<section>
  <ga-about-us></ga-about-us>
</section>

<!-- <section>
  <ga-gallery></ga-gallery>
</section> -->

<section>
  <ga-our-blogs></ga-our-blogs>
</section>

<!-- <section>
    <ga-our-location></ga-our-location>
</section> -->

<section>
  <ga-video-gallery></ga-video-gallery>
</section>

<section>
  <ga-testimonial></ga-testimonial>
</section>

<section>
  <ga-footer></ga-footer>
</section>

<section>
  <ga-contact-us-page-bottom></ga-contact-us-page-bottom>
</section>