a.nav-link{
  color: black !important;
  font-weight: 600;
  cursor: pointer;
}
a.nav-link.active {
  background-color: white;
  border-bottom: 4px solid red;
  border-radius: 0;
  color: black !important;
  font-weight: 600;
}
