<section class="ga-footer">
  <div class="container ">
    <div class="row justify-content-md-center" style="padding: 40px 0 5px 0;">
      <div class="col-lg-4" style="text-align: center">
        <img src="../../assets/GoAdventure-White-Logo.png" style="width:300px;padding-top: 8%;" />
      </div>

      <div class="col-lg-5 ga-footer-social-div">
        <ul class="ga-footer-social text-center" style="padding-left: 0">
          <li class="ga-footer-social-facebook">
            <a href="https://www.facebook.com/goadventureofficial" target="_blank"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="ga-footer-social-instagram">
            <a href="https://www.instagram.com/goadventureofficial" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="ga-footer-social-twitter">
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="ga-footer-social-youtube">
            <a href="https://www.youtube.com/channel/UCjzgE7Qwrs4omfGRkj5xodw" target="_blank"><i
                class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3">
        <h6 style="padding-top: 8%;color:white">GET IN TOUCH (For Business)</h6>
        <hr style="border-top: 2px solid rgb(255, 255, 255)">
        <p style="color: white;text-transform: uppercase;margin-bottom: 4px;font-size: 13px;">Go Adventure Pvt. Ltd.</p>
        <p style="margin-bottom: 4px;color:white;font-size: 13px;"> Weekend Trips : <span style="font-size: 12px;">+91 901 422 4299</span></p>
        <p style="margin-bottom: 4px;color:white;font-size: 13px;"> Long Trips : <span style="font-size: 12px;">+91 934 776 9878</span></p>
      </div>
    </div>
    <hr style="border-top: 1px solid rgba(141, 141, 141, 0.39)">

    <div class="row justify-content-md-center">
      <div class="col-lg-12">
        <ul style="font-size: 13px;color:white;text-align: center;padding-left: 0;">
          <li style="display: inline-block">Flat No: 501 (6th floor) </li>
          <li style="display: inline-block"><div class="ga-footer-address-dot"></div>Sai Silicon Hights, Plot No: 117,118</li>
          <li style="display: inline-block"><div class="ga-footer-address-dot"></div>Road No: 6, Land Mark - CGR International School</li>
          <li style="display: inline-block"><div class="ga-footer-address-dot"></div>Ayyappa Society, Madhapur </li>
          <li style="display: inline-block"><div class="ga-footer-address-dot"></div>Hyderabad 500081</li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col text-center">
        <ul class="ga-footer-terms-ul">
          <li><a routerLink="/terms-conditions">Terms and Conditions</a> |</li>
          <li><a routerLink="/cancellation-policy">Cancellation Policy</a> |</li>
          <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <p class="ga-footer-copy">© 2019 Go Adventure. All rights reserved</p>
      </div>
    </div>
  </div>
</section>

<style>
  .ga-footer {
    background-color: #35364b;
  }

  /* .ga-footer-social-div {
    padding: 20px
  } */

  .ga-footer-social {
    padding-left: 0;
    padding-top: 8%
  }

  .ga-footer-social li {
    display: inline-block;
    padding: 5px;
  }

  .ga-footer-social li a {
    text-decoration: none;
    background-color: #404258;
    color: white !important;
    border-radius: 50%;
    padding: 15px 18px;
  }

  .ga-footer-social-facebook :hover {
    background-color: #3b5998 !important
  }

  .ga-footer-social-instagram :hover {
    background-color: #3f729b !important
  }

  .ga-footer-social-twitter :hover {
    background-color: #00acee !important
  }

  .ga-footer-social-youtube :hover {
    background-color: #c4302b !important
  }

  .ga-footer-copy {
    padding: 1.9em 0 1em 0;
    color: white
  }

  .ga-footer-copy a {
    color: white;
    font-weight: 600
  }

  .ga-footer-terms-ul {
    list-style: none;
    margin-bottom: 0
  }

  .ga-footer-terms-ul li {
    display: inline-block;
    color: white
  }

  .ga-footer-terms-ul li a {
    color: white;
    cursor: pointer;
    font-size: 17px;
    padding: 0px 10px;
  }
  .ga-footer-address-dot{
    width: 3px;
    background: #ffffffc2;
    height: 3px;
    display: inline-block;
    margin: 0px 6px 0 9px;
    border-radius: 50%;
    vertical-align: middle;
  }
</style>