<section>
  <ga-nav-bar></ga-nav-bar>
</section>
<section style="min-height:400px;margin-top:20px;margin-bottom:30px">
  <div class="container">
    <div class="row justify-content-md-center ">
      <h1 class="ga-terms-title">Disclaimer</h1>
    </div>
    <div class="row">
      <div class="col-12 ga-cancel">
        <h5>Process</h5>
        <p>The cancellation process is completely automated. Please login to your Go Adventure account and find relevant instructions on your dashboard. You can choose your preferred mode of refund (Cash/Voucher) as per the policy below and your refund would automatically be processed by the system.</p>
        <h5>Cancellation by Customer:</h5>
        <p> If you want to cancel your trip with us, you must notify us at earliest via email or whatsapp us. Once we receive your notice, the cancellation process with take upshot. Please note that the following cancellation charges will apply :</p>
        <ul>
          <li>Token amount will not be refundable.</li>
          <li>100% will be refunded, if cancelled 30 days before trip embarks.</li>
          <li>75% will be refunded, if cancelled 20 days before trip embarks.</li>
          <li>50% will be refunded, if cancelled 10 days before trip embarks.</li>
          <li>No cancellation allowed or encouraged, less than 7 days before trip embarks.</li>
        </ul>
        <h5>Cancellation by Go Adventure:</h5>
        <p>Go Adventure reserves the right to cancel an event due to low enrollment or other circumstances which would make the event non-viable, in that case the full booking amount will be refunded to the customer in the same bank account used for booking.</p>
        <h5>Time taken to refund:</h5>
        <p>Refund will be credited back to the customer within 5-7 working days.</p>
        <h5>Replacement of participant(s)</h5>
        <p> Our system allows you to seamlessly replace any of the participants in your booking through the Go Adventure login account dashboard. Please note that this feature is applicable only when the status of the Booking is “Paid” and there are at least 5 days remaining prior to the departure date (departure date minus 5). The new participant needs to print, sign, scan and send the undertaking form to cancel@goadventure.in</p>
        <p>Please note that the replacement would not be applicable on any Volvo/Train transport booked for the original participant. The same would be automatically cancelled. This is simply because the seats booked in such transport mediums are not transferrable</p>
      </div>
    </div>
  </div>
</section>

<section>
  <ga-footer></ga-footer>
</section>

<style>
  .ga-terms-title {font-family: 'Poiret One', cursive;font-weight: bold;}
  .ga-cancel {color: #636363;}
</style>
