<section>
  <ga-nav-bar></ga-nav-bar>
</section>
<section style="min-height:400px;margin-top:20px;margin-bottom:30px">
  <div class="container">
    <div class="row justify-content-md-center ">
      <h1 class="ga-terms-title">Terms &amp; Conditions</h1>
    </div>
    <div class="row">
      <div class="col-12 ga-terms">
        <h5>1. Participation requirements</h5>
        <p>All clients are expected to satisfy themselves prior to booking that they are fit and able to complete the itinerary of their chosen event as described in the itinerary. No unaccompanied minors (those under 18 years of age) can be accepted however minors aged between 10 -17 years may accompany their parent or guardian who accepts full responsibility for them. Anyone suffering from mobility impairment, illness or disability or undergoing treatment for any physical or mental condition, must declare the true nature of such condition at the time of booking and make arrangements for the provision of any medication or other treatment which may be required during the event. Failure to make such disclosure will constitute a breach of these booking conditions and result in such persons being excluded from the event in which case all monies paid will be forfeit. Please contact us if you wish to find out more information.</p>
        <p>All participants are also expected to have read and understood the eligibility criteria of the event they are signing up for. They are clearly mentioned on our itinerary page (under FAQs section). At the time of start of the event, they must meet the criteria fully (fitness & experience). In case our ground staff finds that the participant is not meeting any of the criteria (fitness or experience) desired for the event, they can simply refuse the participation at any stage during or before the event. In such case, GO ADVENTURE or its staff shall not be responsible for any refund of any kind of fee paid by the participant.</p>
        <p>For events that involve road journey or travel, participants are advised to take utmost care of the road safety norms. Any indiscipline regarding road safety or risky riding/driving by the participant may force our team to restrict/suspend/terminate the participant’s ride/drive.</p>
        <p>All equipment issued to the participants at the start of any event should be maintained and responsibly used by them at all times during the event. Any damage or loss of equipment issued by GO ADVENTURE to the participant, shall make the participant liable to compensate for the loss/damage.</p>

        <h5>2. On trip behavior</h5>
        <p>You are required to behave in a manner that is acceptable and conducive to group travel. GO ADVENTURE reserves the right to terminate your trip (if you are found to be causing distress / annoyance to co-travelers, endanger / damage property of any supplier or of other travelling companions), without assigning any reason whatsoever. No refund for unused services is possible in such cases.</p>
        <p>You also agree to abide by the authority of the group leader designated by GO ADVENTURE. The decision of the tour leader is binding on all participants on matters that affect the safety or well-being of any person participating in the trip. Behavior that causes danger, distress or annoyance to others, or interferes with the mobility of the group can result in the group leader terminating your participation from the trip, with no right to refund for missed or unused services.</p>

        <h5>3. Promotions</h5>
        <p>Pictures/Videos used on the website and collateral are meant for marketing purposes. These do not imply the inclusion of the pictorial content to be a part of your vacation or any guarantee that you will experience, encounter or view whatever is depicted through the pictures.</p>

        <h5>4. In case of emergency</h5>
        <p>In the event, you fall ill or suffer an accident during the trip, all hospital expenses, doctor fees, repatriation expenses, evacuation from road or mountain, any other charges incurred as a direct or indirect result of Your illness / accident are Your responsibility.</p>

        <h5> 5. Photography</h5>
        <p>GO ADVENTURE reserves the right to take photographs of you during any trip or part thereof and to use them for promotional purposes. By booking a trip with us, you automatically grant us royalty-free, perpetual, worldwide and irrevocable license for using your images in p</p>hotographs and videos that may be used for promotional material, website, social media, collateral and any other marketing and publicity materials. GO ADVENTURE does not require your prior consent and does not need to compensate you for such use of Your photographs or videos. However, GO ADVENTURE does cater to media professionals. Should you have any reservations about your images not being used, please inform GO ADVENTURE at the time of booking your trip.

        <h5> 6. Your Accommodation</h5>
        <p>Any accommodation we arrange for you, must only be used by those people named on your Confirmation Invoice. You are not allowed to share the accommodation or let anyone else stay there. You are responsible for the cost of any damage caused to your accommodation or its contents during your stay. These charges must be met by you and may have to be paid locally.</p>

        <h5>7. Visa, Passport, Health & Travel documentation</h5>
        <p>Whilst we are able to provide basic advice/information to clients regarding passports and visa requirements, it will be your sole responsibility you are required to check/verify with the appropriate embassy or the consulate for the exact requirements for your chosen event and date of travel. We cannot accept responsibility for any failure to comply resulting in any costs or fines being incurred.</p>

        <h5> 8. Local Laws & Customs</h5>
        <p>Laws and customs of the areas we visit can be very different to those we are used to. Be aware of your actions to ensure that they do not offend, especially if you are visiting religious areas. It is your responsibility to familiarize yourself with, and respect local laws and customs. If you fail to do so, we will have no liability to you for any cost, loss or damage which you suffer nor will we refund you the cost of any unused portion of your travel arrangements.</p>

        9. Itineraries
        <p>GO ADVENTURE has taken every reasonable step to ensure that the trip preparation meets the required standard. It has carefully selected its service providers and ensured that service-descriptions are accurate. However, GO ADVENTURE only selects and inspects them and has no control in their management and running, GO ADVENTURE cannot be held liable for injury, damage, loss, accident, delay or irregularity which may arise (directly or indirectly) through acts or deficiencies of suppliers engaged in delivering a specific service. Terms and conditions of suppliers when applicable are expressly indicated when they are.</p>
        This is the official website of GO ADVENTURE and by visiting and browsing it; you are legally accepting and complying with the company's Terms and Conditions which along with the privacy policy, administer your relationship with the company and the website.
        Our registered office is:

        <strong>GO ADVENTURE</strong>
        <strong>Miyapur, Hyderabad</strong>

        <p>And 'GO ADVENTURE' or 'us' or 'we' implies the company and its directors. The word 'you' imply the viewer or the user of the website.</p>
        <ul>
          <li><strong>GO ADVENTURE</strong> reserves the right to modify/ change all or any of the terms applicable to the Trip without assigning any reasons or without any prior intimation whatsoever.</li>
          <li><strong>GO ADVENTURE</strong> reserve the right to discontinue any Trip without assigning any reasons or without any prior intimation whatsoever.</li>
          <li><strong>GO ADVENTURE</strong> reserves the right at any time without prior notice to add, alter, modify, all or any of these terms and conditions or replace, wholly or in part, any Trip or to withdraw it altogether.</li>
          <li>In case of any disputes, GO ADVENTURE's decision will be final and binding to Both parties. Arbitration and Litigation is your constitutional right and shall be exercised as per the Indian law.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <ga-footer></ga-footer>
</section>

<style>
  .ga-terms-title {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
  }

  .ga-terms {
    color: #636363;
  }
</style>
