<section class="ga-about bg">
  <div class="container">
    <div class="row justify-content-md-center ">
      <div class="col">
        <h1 class="ga-title-h1 text-center">WHY GO ADVENTURE</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <p>
          Lost count of failed planned trips? <br /><br />

          Then leave all the planning to us! Each and every minute detail will be taken care of for you, by us and all you have to do is, live and enjoy it.<br /><br />

          An exhilarating local experience with amazing homestays, local cuisines and traveling in local transport to ensure you a more authentic feel, is what we give you.<br /><br />

          We are responsible adventure seekers, who offer you abundance of culture, wildlife, adventure and activities to cherish for a lifetime. Now there is no reason for you to not live up your adventure dream anymore!<br /><br />

          Start packing now!<br /><br />

          P.S. We do take great photographs, sure that is a plus!<br /><br />
        </p>
      </div>
      <div class="col-lg-6 align-self-center" style="margin:auto">
        <img class="ga-abt-logo" src="../../assets/goadventure-log.png" />
      </div>
    </div>
  </div>
</section>
