<section class="ga-group-trips-section">
  <div class="container">
    <div class="row">
      <div class="col-sm ga-upcomig-events">
        <h1 class="ga-title-h1">Group Trips</h1>
      </div>
    </div>

    <div class="row">
        <div class="col-4 animated zoomIn delay-2s">
          <div class="card"  >
            <img class="card-img-top" src="../../../../assets/group-trip-family.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-4 animated zoomIn delay-2s">
          <div class="card"  >
            <img class="card-img-top" src="../../../../assets/group-trip-college.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-4 animated zoomIn delay-2s">
          <div class="card"  >
            <img class="card-img-top" src="../../../../assets/group-trip-corporate.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
