<section>
  <ga-nav-bar></ga-nav-bar>
</section>

<div class="container-fluid" style="background: #f2f3f8;padding-top: 10px;min-height: 100vh">
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12">
          <ul class="nav nav-pills mb-3 ga-event-details-nav-pils" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link"  [ngClass]="{'active': activeTab==='tab1'}" (click)="onClickTabs('tab1')">Coming Weekend Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': activeTab==='tab2'}" (click)="onClickTabs('tab2')">July Events</a>
            </li>

            <li class="nav-item">
              <a class="nav-link"  [ngClass]="{'active': activeTab==='tab3'}" (click)="onClickTabs('tab3')">August Events</a>
            </li>

            <li class="nav-item">
              <a class="nav-link"  [ngClass]="{'active': activeTab==='tab4'}" (click)="onClickTabs('tab4')">September Events</a>
            </li>

          </ul>
          <div class="tab-content card ga-event-details-nav-content" id="pills-tabContent"
            style="max-height: 500px;overflow-y: auto;">
            <div class="row" *ngIf="activeTab==='tab1'">
              <table class="table table-hover" style="font-size: 13px;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col" style="width: 45%;">Event Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Total slots</th>
                    <th scope="col">Booked slots</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of comingWeekendEvents;let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.Title}}</td>
                    <td>{{item.FromDate | date:'mediumDate'}} - {{item.ToDate | date:'mediumDate'}}</td>
                    <td class="text-center">{{item.TotalSlots}}</td>
                    <td class="text-center">{{item.BookedSlots}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row" *ngIf="activeTab==='tab2'">
              <table class="table table-hover" style="font-size: 12px;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col" style="width: 45%;">Event Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Total slots</th>
                    <th scope="col">Booked slots</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of WeekendEvents2;let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.Title}}</td>
                    <td>{{item.FromDate | date:'mediumDate'}} - {{item.ToDate | date:'mediumDate'}}</td>
                    <td class="text-center">{{item.TotalSlots}}</td>
                    <td class="text-center">{{item.BookedSlots}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row" *ngIf="activeTab==='tab3'">
              <table class="table table-hover" style="font-size: 12px;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col" style="width: 45%;">Event Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Total slots</th>
                    <th scope="col">Booked slots</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of WeekendEvents3;let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.Title}}</td>
                    <td>{{item.FromDate | date:'mediumDate'}} - {{item.ToDate | date:'mediumDate'}}</td>
                    <td class="text-center">{{item.TotalSlots}}</td>
                    <td class="text-center">{{item.BookedSlots}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row" *ngIf="activeTab==='tab4'">
              <table class="table table-hover" style="font-size: 12px;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col" style="width: 42%;">Event Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Total slots</th>
                    <th scope="col">Booked slots</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of WeekendEvents4;let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.Title}}</td>
                    <td>{{item.FromDate | date:'mediumDate'}} - {{item.ToDate | date:'mediumDate'}}</td>
                    <td class="text-center">{{item.TotalSlots}}</td>
                    <td class="text-center">{{item.BookedSlots}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-4">
          <div class="card ga-count-card ga-count-card-red">
            <div class="card-body">
              <h1 [innerHtml]="DayPaymentCount"></h1>
              <p>Today's Booked Slots</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card ga-count-card">
            <div class="card-body">
              <h1 [innerHtml]="WeekPaymentCount"></h1>
              <p>Week Booked Slots</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card ga-count-card ga-count-card-red">
            <div class="card-body">
              <h1 [innerHtml]="MonthPaymentCount"></h1>
              <p>Month Booked Slots</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row" style="margin-top: 15px;">
        <div class="col-lg-12">
          <ul class="nav nav-pills mb-3 ga-event-details-nav-pils" id="pills-tab" role="tablist">
            <li class="nav-item">
              <span style="color: white;font-weight: 500;">Payments Report</span>
            </li>
          </ul>
          <div class="card ga-count-card">
            <div class="card-body">

              <canvas baseChart style="height: 300px !important" [datasets]="lineChartData" [labels]="lineChartLabels"
                [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType"
                [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>

        </div>
      </div> -->
    </div>
  </div>

</div>

<style>
  .ga-event-details-nav-pils {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    border: 0;
    padding: .7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: -20px !important;
    background-color: #ff0000;
    z-index: 1;
    position: relative;
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
  }

  .ga-event-details-nav-content {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    border: 0;
    font-weight: 400;
    padding: 1rem;
    padding-top: 2rem;
  }

  .ga-event-details-nav-pils .nav-link {
    padding: 8px 10px;
    margin-right: 10px;
    color: white;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
  }

  .ga-event-details-nav-pils .nav-link.active {
    background-color: white;
    color: black;
  }

  .ga-count-card {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    border: 0;
    font-weight: 400;
    padding: 1rem;
    padding-top: 2rem;
    text-align: center;
  }

  .ga-count-card-red {
    background: red;
    color: white;
  }

  .ga-count-card h1 {
    font-size: 60px;
  }

  .ga-count-card p {
    font-size: 15px;
    margin-top: 20px;
  }
</style>
