<section>
  <ga-nav-bar></ga-nav-bar>
</section>

<section class="ga-events-go-section ga-events-white-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm ga-upcomig-events">
        <h1 class="ga-title-h1">Go Himalayas</h1>
      </div>
    </div>
    <ngu-carousel #myCarousel [inputs]="carouselTileConfig" [dataSource]="carouselTileItems$ | async" [hidden]="upComingEventsAll.length===0">
      <ngu-tile class="col-lg-4 col-md-6 col-sm-12 col-xs-12" *nguCarouselDef="let item; let i = index; let ani = animate">
        <div class="card">
          <div class="card-content">
            <div class="card-img">
              <img alt="Card image cap" class="card-img-top img-fluid" src="{{item.TilePhoto}}" onError="this.src='../../assets/no-image.jpg';" >
              <a [routerLink]="['/event-details',item.CustomeUrl]" class="btn ga-event-book-btn btn-floating halfway-fab">Book</a>
            </div>
            <div class="card-body">
              <p class="card-text">{{item.Title}}</p>
              <div class="event-details">
                <span class="ga-event-card-date"><i class="far fa-calendar-alt"></i> {{item.FromDate | date:'mediumDate'}} - {{item.ToDate | date:'mediumDate'}}</span>
              </div>
              <div class="ga-event-card-price">{{item.Price | indianCurrency:true:'1.0':false}}</div>
            </div>
          </div>
        </div>
      </ngu-tile>


      <button *ngIf="upComingEventsAll.length>4" NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5:1">&lt;</button>
      <button *ngIf="upComingEventsAll.length>4" NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5:1">&gt;</button>
    </ngu-carousel>
  </div>
</section>

