<section class="ga-gallery-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm ga-upcomig-events">
        <h1 class="ga-title-h1">Group Gallery</h1>
      </div>
    </div>

    <div class="row gallery">
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 gallery-item">
        <img class="gallery-image" src="../../../../assets/gallery/gallery-1.jpeg " alt="Go Adventure Gallery">
      </div>
  
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 gallery-item">
        <img class="gallery-image" src="../../../../assets/gallery/gallery-2.jpg " alt="Go Adventure Gallery">
      </div>
  
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 gallery-item">
        <img class="gallery-image" src="../../../../assets/gallery/gallery-3.jpg " alt="Go Adventure Gallery">
      </div>
  
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 gallery-item">
        <img class="gallery-image" src="../../../../assets/gallery/gallery-4.jpg " alt="Go Adventure Gallery">
      </div>
  
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 gallery-item">
        <img class="gallery-image" src="../../../../assets/gallery/gallery-5.jpg " alt="Go Adventure Gallery">
      </div>
  
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 gallery-item">
        <img class="gallery-image" src="../../../../assets/gallery/gallery-6.jpg " alt="Go Adventure Gallery">
      </div>
      
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 gallery-item">
        <img class="gallery-image" src="../../../../assets/gallery/gallery-7.jpg " alt="Go Adventure Gallery">
      </div>
  
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 gallery-item">
        <img class="gallery-image" src="../../../../assets/gallery/gallery-8.jpg " alt="Go Adventure Gallery">
      </div>
    </div>
  </div>
</section>

<style>
.ga-gallery-section .col-lg-3{padding: 0 !important}
.gallery {
	display: flex;
	flex-wrap: wrap;
}

.gallery-item {
	margin: 0px;
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
  height: 330px;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

</style>
