<section>
  <ga-nav-bar></ga-nav-bar>
</section>

<!-- <section class="ga-event-add-details">
  <div class="container">
    <div class="row">
      <form #imageForm=ngForm name="form1" class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="card">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Event Title</label>
              <input type="text" name="EventTitle" class="form-control" [(ngModel)]="Title">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Description</label>
              <textarea name="Description" class="form-control" [(ngModel)]="Description"></textarea>
            </div>
          </div>
        </div>

        <div class="card">
          <form #formRef1="ngForm">
            <h6 style="color: black;display: inline-block;">Plans</h6>
            <button mat-button class="btn btn-primary btn-custome-icon" [disabled]="!formRef1.form.valid"
              (click)="addNewPlan()"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>

            <div class="form-row row">
              <div class="col-lg-4" *ngFor="let item of PlanDetails; let in=index">
                <div class="card">
                  <div class="form-group">
                    <label>Title</label>
                    <input type="text" [(ngModel)]="PlanDetails[in].Title" name="PlanDetails{{in}}" class="form-control"
                      #name="ngModel" required />
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </form>
    </div>
  </div>
</section> -->
