<section>
  <ga-nav-bar></ga-nav-bar>
</section>

<section class="ga-reachus-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ga-heading-section text-center">
        <span class="subheading">Contact</span>
        <h2 class="mb-4">Reach Us</h2>
        <p>Need a helping hand? Or a high five?</p>
        <p>Here’s how you can reach us!</p>
      </div>
    </div>
  </div>
</section>

<section>
  <ga-footer></ga-footer>
</section>

<style>
  .ga-reachus-section {
    padding: 4em 0;
    position: relative;
  }
  </style>
