<section>
  <ga-nav-bar></ga-nav-bar>
</section>

<section class="ga-blog-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ga-heading-section text-center">
        <span class="subheading">Blog</span>
        <h2 class="mb-4">Our Blog</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12">
        <div class="ga-image-over-grid-hover">
          <figure class="ga-image-over-effect">
            <img alt="img11" src="../../../../assets/blog-meghalaya.jpg" class="img-responsive">
            <figcaption>
              <div>
                <a [routerLink]="['/blog-details',1]">Read More</a>
              </div>
              <h2><span> Buran Ghati </span>trek</h2>

            </figcaption>
          </figure>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12">
        <div class="ga-image-over-grid-hover">
          <figure class="ga-image-over-effect">
            <img alt="img11" src="../../../../assets/blog-spiti.jpg" class="img-responsive">
            <figcaption>
                <div>
                    <a [routerLink]="['/blog-details',1]">Read More</a>
                  </div>
              <h2><span> Roopkund </span>trek</h2>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12">
        <div class="ga-image-over-grid-hover">
          <figure class="ga-image-over-effect">
            <img alt="img11" src="../../../../assets/blog-kedarkantha.jpg" class="img-responsive">
            <figcaption>
                <div>
                    <a [routerLink]="['/blog-details',1]">Read More</a>
                  </div>
              <h2><span> Kedarkantha </span>trek</h2>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <ga-footer></ga-footer>
</section>